# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Environments
env/
venv/
ENV/
.venv/
.Python

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.local/
.secret/
# node/npm
node_modules/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# env files
.env
.env.*

# pyenv
.python-version

# mac/windows
.DS_Store
Thumbs.db
